body {
    margin: 0;
}

#page {
    margin: 0;
}

#page-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: aliceblue;
    margin: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ddd; 
}   

h1, h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}

#task-container > * {
    min-width: 40%;
}

button {
    cursor: pointer;
    padding: 8px 4px;
    border-radius: 5px;
}

button:hover {
    background-color: #ddd;
    color: #333;
}

input {
    padding: 8px 4px;
    margin-bottom: 1rem;
    min-width: 100%;
}

textarea {
    padding: 8px 4px;
    margin-bottom: 1rem;
    min-width: 100%;
}

#form_title {
    padding: 8px 4px;
    margin-bottom: 1rem;
    max-width: 800px;
}

#form_description {
    padding: 8px 4px;
    margin-bottom: 1rem;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#action-container > *{
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    #page {
        max-width: 1200px;
        margin: 0 auto;
    }

    table {
        display: table;
    }

    th, td {
        padding: 12px;
    }

    h1, h2 {
        justify-content: start;
    }

    #task-container {
        justify-content: start;
    }
}